%footer
  .container.clearfix
    %ul.list-social.pull-right
      %li
        %a.icon-1{href: "#"}
      %li
        %a.icon-2{href: "#"}
      %li
        %a.icon-3{href: "#"}
      %li
        %a.icon-4{href: "#"}
    .privacy.pull-left
      Website Template designed by
      %a{href: "http://www.templatemonster.com/", rel: "nofollow", target: "_blank"} TemplateMonster.com
%script{src: "javascripts/bootstrap.js", type: "text/javascript"}