%header
  .container.clearfix
    .row
      .span12
        .navbar.navbar_
          .container
            %h1.brand.brand_
              %a{href: "index.html"}
                =tag :img, :src => "images/coursetconcourslogo-small.png"
            %a.btn.btn-navbar.btn-navbar_{"data-target" => ".nav-collapse_", "data-toggle" => "collapse"}
              Menu
              %span.icon-bar
            .nav-collapse.nav-collapse_.collapse
              %ul.nav.sf-menu
                %li.active
                  %a{href: "index.html"} Accueil
                %li.sub-menu
                  %a{href: "services.html"} Services
                  %ul
                    %li
                      %a{href: "index-1.html"} Soutien scolaire
                    %li
                      %a{href: "index-2.html"} Préparation aux concours
                    %li
                      %a{href: "index-3.html"} Séjours linguistiques
                    %li
                      %a{href: "index-4.html"} Formation continue
                    %li
                      %a{href: "index-5.html"} Divers
                %li
                  %a{href: "contact.html"} Contact