%header
  .container.clearfix
    .row
      .span12
        .navbar.navbar_
          .container
            %h1.brand.brand_
              %a{href: "index.html"}
                =tag :img, :src => "images/coursetconcourslogo-small.png"
            %a.btn.btn-navbar.btn-navbar_{"data-target" => ".nav-collapse_", "data-toggle" => "collapse"}
              Menu
              %span.icon-bar
            .nav-collapse.nav-collapse_.collapse
              %ul.nav.sf-menu
                %li.active
                  %a{href: "index.html"} Accueil
                %li.sub-menu
                  %a{href: "index-1.html"} Services
                  %ul
                    %li
                      %a{href: "#"} Soutien scolaire
                    %li
                      %a{href: "#"} Préparation aux concours
                    %li
                      %a{href: "#"} Séjours linguistiques
                    %li
                      %a{href: "#"} Formation continue
                    %li
                      %a{href: "#"} Divers
                %li
                  %a{href: "index-4.html"} Contact