---
title: Cours et concours
---

/ ============================== header =================================
= partial "layouts/navigation"

.bg-content
  / ============================== content =================================
  #content
    .container
      .row
        %article.span8
          .inner-1
            %h3 Formation continue
            .clear
            %img{alt: "", src: "images/page4-img1.jpg"}/
            %br/
            %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum delenit augue duis dolore te feugait nulla facilisi.
            %ul.list.extra.extra1
              %li
                %a{href: "#"} Ut wisi enim ad minim veniam
              %li
                %a{href: "#"} Quis nostrud exerci tation ullamcorper
              %li
                %a{href: "#"} Suscipit lobortis nisl ut aliquip
              %li
                %a{href: "#"} Commodo consequat
              %li
                %a{href: "#"} Duis autem vel eum iriure dolor in hendrerit
              %li
                %a{href: "#"} Vulputate velit esse molestie consequat
              %li
                %a{href: "#"} Fel illum dolore eu feugiat nulla
              %li
                %a{href: "#"} Facilisis at vero eros et accumsan iusto
              %li
                %a{href: "#"} Odio dignissim qui blandit
              %li
                %a{href: "#"} Praesent luptatum zzril delenit augue

/ ============================== footer =================================
= partial "layouts/footer"
