---
title: Cours et concours
---

.spinner
/ ============================== header =================================
= partial "layouts/navigation"

.bg-content
  / ============================== content =================================
  #content
    .ic More Website Templates @ TemplateMonster.com. November19, 2012!
    .container
      .row
        %article.span12
          %h3 Services
        .clear
        %ul.thumbnails.thumbnails-1.list-services
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "images/page2-img1.jpg"}/
              %section
                %a.link-1{href: "#"} At vero eos et accusamus et iusto
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "images/page2-img2.jpg"}/
              %section
                %a.link-1{href: "#"} At vero eos et accusamus et iusto
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "images/page2-img3.jpg"}/
              %section
                %a.link-1{href: "#"} At vero eos et accusamus et iusto
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "images/page2-img4.jpg"}/
              %section
                %a.link-1{href: "#"} At vero eos et accusamus et iusto
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "images/page2-img5.jpg"}/
              %section
                %a.link-1{href: "#"} At vero eos et accusamus et iusto
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "images/page2-img6.jpg"}/
              %section
                %a.link-1{href: "#"} At vero eos et accusamus et iusto
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
/ ============================== footer =================================
= partial "layouts/footer"