---
title: Cours et concours
---

.spinner
/ ============================== header =================================
= partial "layouts/navigation"

.bg-content
  .container
    .row
      .span12
        / ============================== slider =================================
        .flexslider
          %ul.slides
            %li
              =tag :img, :src => "images/slide-1.jpg"
            %li
              =tag :img, :src => "images/slide-2.jpg"
            %li
              =tag :img, :src => "images/slide-3.jpg"
            %li
              =tag :img, :src => "images/slide-4.jpg"
            %li
              =tag :img, :src => "images/slide-5.jpg"
        %span#responsiveFlag
        .block-slogan
          %h2 Welcome!
          %div
            %p
              %a.link-1{href: "http://blog.templatemonster.com/free-website-templates/ ", target: "_blank"} Click here
              for more info about this free website template created by TemplateMonster.com. This is a Bootstrap template that goes with several layout options (for desktop, tablet, smartphone landscape and portrait) to fit all popular screen resolutions. The PSD source files of this template are available for free for the registered members of TemplateMonster.com. Feel free to get them!
  / ============================== content =================================
  #content.content-extra
    .ic More Website Templates @ TemplateMonster.com. November19, 2012!
    .row-1
      .container
        .row
          %ul.thumbnails.thumbnails-1
            %li.span3
              .thumbnail.thumbnail-1
                %h3 Fashion
                =tag :img, :src => "images/page1-img1.jpg"
                %section
                  %strong At vero eos et accusamus et iusto
                  %p Odio dignissimos ducimus qui blanditiis praesentium voluptatum.
                  %a.btn.btn-1{href: "#"} Read More
            %li.span3
              .thumbnail.thumbnail-1
                %h3 Nature
                =tag :img, :src => "images/page1-img2.jpg"
                %section
                  %strong Deleniti atque corrupti quos
                  %p Dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                  %a.btn.btn-1{href: "#"} Read More
            %li.span3
              .thumbnail.thumbnail-1
                %h3 Love story
                =tag :img, :src => "images/page1-img3.jpg"
                %section
                  %strong Similique sunt in culpa qui officia
                  %p Deserunt mollitia animi, id est laborum et dolorum fuga.
                  %a.btn.btn-1{href: "#"} Read More
            %li.span3
              .thumbnail.thumbnail-1
                %h3.title-1.extra Fine art
                =tag :img, :src => "images/page1-img4.jpg"
                %section
                  %strong Similique sunt in culpa qui officia
                  %p Deserunt mollitia animi, id est laborum et dolorum fuga.
                  %a.btn.btn-1{href: "#"} Read More
    .container
      .row
        %article.span6
          %h3 Shortly about me
          .wrapper
            %figure.img-indent
              =tag :img, :src => "images/page1-img5.jpg "
            .inner-1.overflow.extra
              .txt-1 Sed ut perspictis unde omnis natus error volupatem accusantium doloue laudantium, totam rem.
              Aperiam, eaque ipsa quae ab illo  veritatis et beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
              .border-horiz
              .overflow
                %ul.list.list-pad
                  %li
                    %a{href: "#"} Campaigns
                  %li
                    %a{href: "#"} Portraits
                  %li
                    %a{href: "#"} Fashion
                  %li
                    %a{href: "#"} Fine Art
                %ul.list
                  %li
                    %a{href: "#"} Advertising
                  %li
                    %a{href: "#"} Lifestyle
                  %li
                    %a{href: "#"} Love story
                  %li
                    %a{href: "#"} Landscapes
        %article.span6
          %h3 Latest photoshoots
          %ul.list-photo
            %li
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img6.jpg "
            %li
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img7.jpg "
            %li
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img8.jpg "
            %li.last
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img9.jpg "
            %li
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img10.jpg "
            %li
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img11.jpg "
            %li
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img12.jpg "
            %li.last
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img13.jpg "
            %li
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img14.jpg "
            %li
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img15.jpg "
            %li
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img16.jpg "
            %li.last
              %a.magnifier{href: "images/image-blank.png"}
                =tag :img, :src => "images/page1-img17.jpg "
/ ============================== footer =================================
= partial "layouts/footer"