---
title: Cours et concours
---

/ ============================== header =================================
= partial "layouts/navigation"

.bg-content
  .container
    .row
      .span12
        %span#responsiveFlag
        .block-slogan
          %br/
          %h2 Votre réussite notre combat!
          %div
            %p
              %b Cours particulier à domicile et préparation aux concours
              Lorem ipsum dolor sit amet, duo modus tation comprehensam in, pro ad legere ornatus, agam fugit suavitate no sed. Ei summo commodo duo, docendi adipiscing comprehensam ius eu. Quod evertitur vis ad. His quot semper ne, nec an putant regione conceptam. Mutat putant accusamus eum cu, tempor concludaturque duo et.
  / ============================== content =================================
  #content.content-extra
    .row-1
      .container
        .row
          %ul.thumbnails.thumbnails-1
            %li.span3
              .thumbnail.thumbnail-1
                %h3 Soutien scolaire
                =tag :img, :src => "images/content/soutien_scolaire_270x.jpg"
                %section
                  %strong At vero eos et accusamus et iusto
                  %p Odio dignissimos ducimus qui blanditiis praesentium voluptatum.
                  %a.btn.btn-1{href: "index-1.html"} En savoir plus
            %li.span3
              .thumbnail.thumbnail-1
                %h3 Préparation aux concours
                =tag :img, :src => "images/content/preparation_concours_270x.jpg"
                %section
                  %strong Deleniti atque corrupti quos
                  %p Dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                  %a.btn.btn-1{href: "index-2.html"} En savoir plus
            %li.span3
              .thumbnail.thumbnail-1
                %h3 Séjours linguistiques
                =tag :img, :src => "images/content/sejours_linguistiques_270x.jpg"
                %section
                  %strong Similique sunt in culpa qui officia
                  %p Deserunt mollitia animi, id est laborum et dolorum fuga.
                  %a.btn.btn-1{href: "index-3.html"} En savoir plus
            %li.span3
              .thumbnail.thumbnail-1
                %h3.title-1.extra Formation continue
                =tag :img, :src => "images/content/formation_continue_270x.jpg"
                %section
                  %strong Similique sunt in culpa qui officia
                  %p Deserunt mollitia animi, id est laborum et dolorum fuga.
                  %a.btn.btn-1{href: "index-4.html"} En savoir plus
    .row-2
      .container
        .row
        %br/
        %p Lorem ipsum dolor sit amet, duo modus tation comprehensam in, pro ad legere ornatus, agam fugit suavitate no sed. Ei summo commodo duo, docendi adipiscing comprehensam ius eu. Quod evertitur vis ad. His quot semper ne, nec an putant regione conceptam. Mutat putant accusamus eum cu, tempor concludaturque duo et.

/ ============================== footer =================================
= partial "layouts/footer"