---
title: Cours et concours
---

/ ============================== header =================================
= partial "layouts/navigation"

.bg-content
  / ============================== content =================================
  #content
    .ic More Website Templates @ TemplateMonster.com. November19, 2012!
    .container
      .row
        %article.span12
          %h3 Folio
        .clear
        %ul.portfolio.clearfix
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img1.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img2.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img3.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img4.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img5.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img6.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img7.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img8.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img9.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img10.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img11.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img12.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img13.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img14.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img15.jpg"}/
          %li.box
            %a.magnifier{href: "images/image-blank.png"}
              %img{alt: "", src: "images/page3-img16.jpg"}/
/ ============================== footer =================================
= partial "layouts/footer"
