---
title: Cours et concours
---

/ ============================== header =================================
= partial "layouts/navigation"
.bg-content
  / ============================== content =================================
  #content
    .container
      .row
        %article.span12
          %h3 Services
        .clear
        %ul.thumbnails.thumbnails-1.list-services
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "img/page2-img1.jpg"}/
              %section
                %a.link-1{href: "index-1.html"} Soutien scolaire
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "img/page2-img2.jpg"}/
              %section
                %a.link-1{href: "index-2.html"} Preparation aux concours
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "img/page2-img3.jpg"}/
              %section
                %a.link-1{href: "index-3.html"} Sejours linguistiques
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "img/page2-img4.jpg"}/
              %section
                %a.link-1{href: "index-4.html"} Formation continue
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.
          %li.span4
            .thumbnail.thumbnail-1
              %img{alt: "", src: "img/page2-img5.jpg"}/
              %section
                %a.link-1{href: "index-5.html"} Divers
                %p Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.

/ ============================== footer =================================
= partial "layouts/footer"