<!DOCTYPE html>
<html>
<head>
  <title>Coursetconcours</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='/assets/jquery.preloader.js'></"+"script>");}  </script>

  <script>
     jQuery(window).load(function() {
     $x = $(window).width();
  if($x > 1024)
  {
  jQuery("#content .row").preloader();    }

     jQuery('.magnifier').touchTouch();
    jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});
        });

  </script>

</head>
<body>

<%= yield %>

</body>
</html>
